<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wimetro.cg.db.mapper.DCgcgEmployeeDoorMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wimetro.cg.db.entity.DCgcgEmployeeDoor">
        <id column="auto_id" property="autoId" />
        <result column="employee_no" property="employeeNo" />
        <result column="card_no" property="cardNo" />
        <result column="dept_id" property="deptId" />
        <result column="employee_group_id" property="employeeGroupId" />
        <result column="schedules_group_id" property="schedulesGroupId" />
        <result column="controller_id" property="controllerId" />
        <result column="door_no" property="doorNo" />
        <result column="in_out_flag" property="inOutFlag" />
        <result column="special_permssion" property="specialPermssion" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
        <result column="device_sn" property="deviceSn" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        auto_id, employee_no, card_no, dept_id, employee_group_id, schedules_group_id, controller_id, door_no, in_out_flag, special_permssion, create_by, create_time, update_by, update_time, device_sn
    </sql>

    <resultMap id="ScpScheduleGroupList" type="com.wimetro.cg.model.card.ScpTimeSetInfo">
        <result column="device_sn" property="sn" />
        <collection property="timeSetList" ofType="java.lang.Integer">
            <result column="schedules_group_id" />
        </collection>
    </resultMap>

    <select id="selectSchedulesGroupIdByDeviceSn" resultMap="ScpScheduleGroupList">
        select
            device_sn,
            schedules_group_id
        from d_cgcg_employee_door
        where device_sn = #{deviceSn,jdbcType=VARCHAR}
    </select>


    <resultMap id="CardInfoMap" type="com.wimetro.cg.model.card.CardDbInfo">
        <result column="cardNo" property="cardNo" />
        <result column="validDate" property="validDate" />
        <result column="state" property="state" />
        <result column="pwd" property="pwd" />
        <result column="doorCount" property="doorCount" />
        <result column="holiday" property="holiday" />
        <result column="deviceSn" property="deviceSn" />
        <collection property="doorInfoList" ofType="com.wimetro.cg.model.card.CardDoorInfo">
            <result column="doorNo" property="doorNo" />
            <result column="timeSetId" property="timeSetId" />
            <result column="permssion" property="specialPermssion" />
            <result column="flag" property="inOutFlag" />
        </collection>
    </resultMap>

    <select id="selectByCardNo" resultMap="CardInfoMap">
        select
            b.card_no as cardNo,
            b.effect_end_time as validDate,
            b.state as state,
            'ffffffff' as pwd,
            '65535' as doorCount,
            0 as holiday,
            #{deviceSn,jdbcType=VARCHAR} as deviceSn,
            a.door_no as doorNo,
            a.schedules_group_id as timeSetId,
            a.special_permssion as permssion,
            a.in_out_flag as flag
        from c_card_info b
        left join d_cgcg_employee_door a
        on b.card_no = a.card_no
            and a.status = '0'
            and a.device_sn = #{deviceSn,jdbcType=VARCHAR}
        where b.card_no in
        <foreach collection="list" item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>

    <select id="selectCardsByDeviceSn" resultMap="CardInfoMap">
        select
            b.card_no as cardNo,
            b.effect_end_time as validDate,
            b.state as state,
            'ffffffff' as pwd,
            '65535' as doorCount,
            0 as holiday,
            #{deviceSn,jdbcType=VARCHAR} as deviceSn,
            a.door_no as doorNo,
            a.schedules_group_id as timeSetId,
            a.special_permssion as permssion,
            a.in_out_flag as flag
        from c_card_info b
        left join d_cgcg_employee_door a
        on b.card_no = a.card_no
            and a.status = '0'
            and a.device_sn = #{deviceSn,jdbcType=VARCHAR}
    </select>

    <resultMap id="ScpCardMap" type="com.wimetro.cg.model.card.ScpCardInfo">
        <result column="device_sn" property="sn" />
        <collection property="cardList" ofType="java.lang.String">
            <result column="card_no" />
        </collection>
    </resultMap>

    <select id="selectDeviceSnByCardNo" resultMap="ScpCardMap" parameterType="java.util.List">
        select
        distinct device_sn,
            card_no
        from d_cgcg_employee_door
        where card_no in
        <foreach collection="list" item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>



</mapper>
